html, body {
	background: url("../images/veggie.jpg") center center no-repeat;
	background-size: cover;
	overflow: hidden;
	height: 100%;
	margin: 0;
	text-align: center;
}

/*<--- ! instructions sections ---> */
section.instruction-wrapper {
	background-color: rgba(255, 255, 255, 0.6);
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 1000px;
	height: 600px;
	vertical-align: middle;
	border: 5px solid #ffffff;
}

h1, h3, h5, p {
	font-family: 'Nothing You Could Do', cursive;
}

h1 {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: .1px;
    -webkit-text-stroke-color: black;
    font-size: 70px;
    margin: 30px 0 5px 0;
    letter-spacing: 10px;
}

h3 {
    color: #000000;
    font-size: 40px;
    margin: 0 20px;
    letter-spacing: 2px;
}

h5 {
    font-size: 30px;
    margin: 5px;
}

p {
	margin: 5px 180px;
	line-height: 25px;
}
/*<--- !game section ---> */
div.game {
	background: url("../images/field2.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    width: auto;
}

#vickie {
    height: 300px;
    width: 300px;
    position: absolute;
    bottom: 0px;
    left: 500px;
}

#avocado {
    height: 50px;
    width: auto;
    position: absolute;
    top: -200px;
}

#meat {
    height: 50px;
    width: auto;
    position: absolute;
    top: -200px;
}

#broccoli {
    height: 50px;
    width: auto;
    position: absolute;
    top: -200px;
}

#cucumber {
    height: 50px;
    width: auto;
    position: absolute;
    top: -200px;
    left: 900px;
}

#asparagus {
    height: 100px;
    width: auto;
    position: absolute;
    top: -200px;
    left: 1000px;
}

#carrot {
    height: 100px;
    width: auto;
    position: absolute;
    top: -200px;
}

#eggplant {
    height: 100px;
    width: auto;
    position: absolute;
    top: -200px;
    left: 200px;
}

#pepper {
    height: 50px;
    width: auto;
    position: absolute;
    top: -200px;
    left: 700px;
}

#squash {
    height: 50px;
    width: auto;
    position: absolute;
    top: -200px;
    left: 1000px;
}

#chicken {
    height: 50px;
    width: auto;
    position: absolute;
    top: -200px;
    left: 500px;
}

#groundmeat {
    height: 50px;
    width: auto;
    position: absolute;
    top: -200px;
    left: 300px;
}

#pork {
    height: 50px;
    width: auto;
    position: absolute;
    top: -200px;
    left: 800px;
}


/*<--- !Splash page ---> */
 h1#splashTitle{
    font-size: 120px;
    font-family: 'Nothing You Could Do', cursive;
    letter-spacing: 10px;
    margin: 0;
    -webkit-text-fill-color: white;
  	-webkit-text-stroke-width: .1px;
  	-webkit-text-stroke-color: black;
    position: relative;
    text-align: center;
    animation-name: splashTitle;
    animation-duration: 3s;    
    animation-fill-mode: forwards;
}


@keyframes splashTitle {
    from {top: 0px;}
    to {top: 250px; 
    	color: #ffffff; 
    	background-color:  
    	-webkit-text-fill-color: #ffffff;
  		-webkit-text-stroke-width: .1px;
  		-webkit-text-stroke-color: black;
		} 
	}


.homepage-button {
    height: 70px;
    width: 170px;
    font-size: 22px;
    font-family: 'Nothing You Could Do', cursive;
    border: 2px solid #000000;
    border-radius: 50%;
    position: relative;
    display: block;
    top: 280px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.homepageLink {
	text-decoration: none;
	color: #000000;
}